
Login to gmail account

https://myaccount.google.com/lesssecureapps?utm_source=google-account&utm_medium=web   //Allow less secure apps here
or
https://myaccount.google.com/security#connectedapps


https://accounts.google.com/UnlockCaptcha  //enable this if not working

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=daudonmail or daudonmail@gmail.com  //yourEmail
MAIL_PASSWORD="password" //yourPassword
MAIL_ENCRYPTION=tls